---
http_interactions:
- request:
    method: get
    uri: https://api.themoviedb.org/3/movie/550/videos?api_key=<TMDB_API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Memc:
      - HIT
      X-Memc-Key:
      - 58dcba9f8d3f1acfcf1c71cc01a05d0d
      X-Memc-Age:
      - '6115'
      X-Memc-Expires:
      - '16956'
      Etag:
      - W/"538166106bd0df7bc729bf6745329309"
    body:
      encoding: ASCII-8BIT
      string: '{"id":550,"results":[{"iso_639_1":"en","iso_3166_1":"US","name":"20th
        Anniversary Trailer","key":"dfeUzm6KF4g","site":"YouTube","size":1080,"type":"Trailer","official":true,"published_at":"2019-10-15T18:59:47.000Z","id":"64fb16fbdb4ed610343d72c3"},{"iso_639_1":"en","iso_3166_1":"US","name":"Theatrical
        Trailer (HD Fan Remaster)","key":"6JnN1DmbqoU","site":"YouTube","size":1080,"type":"Trailer","official":false,"published_at":"2015-02-26T03:19:25.000Z","id":"653b36ba5907de00c4953699"},{"iso_639_1":"en","iso_3166_1":"US","name":"#TBT
        Trailer","key":"BdJKm16Co6M","site":"YouTube","size":1080,"type":"Trailer","official":true,"published_at":"2014-10-02T19:20:22.000Z","id":"5c9294240e0a267cd516835f"}]}'
  recorded_at: Fri, 03 Nov 2023 21:55:55 GMT
recorded_with: VCR 6.2.0
