---
http_interactions:
- request:
    method: get
    uri: https://api.themoviedb.org/3/movie/36685?api_key=<TMDB_API_KEY>&append_to_response=release_dates
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Etag:
      - W/"ce238ca373abc3dd9b968cc1d41df917"
    body:
      encoding: ASCII-8BIT
      string: '{"adult":false,"backdrop_path":"/5DU39tmUzbXtD6UXgm7iZqxpwoV.jpg","belongs_to_collection":{"id":694606,"name":"The
        Rocky Horror Picture Show Collection","poster_path":"/aZJ0gncaRSywxR6yZLAeQYoDpkQ.jpg","backdrop_path":"/oPmhtP3C6rOkAJ55tcmCXOPFVOX.jpg"},"budget":1200000,"genres":[{"id":35,"name":"Comedy"},{"id":878,"name":"Science
        Fiction"},{"id":14,"name":"Fantasy"},{"id":27,"name":"Horror"}],"homepage":"http://www.rockyhorror.com","id":36685,"imdb_id":"tt0073629","original_language":"en","original_title":"The
        Rocky Horror Picture Show","overview":"Sweethearts Brad and Janet, stuck with
        a flat tire during a storm, discover the eerie mansion of Dr. Frank-N-Furter,
        a transvestite scientist. As their innocence is lost, Brad and Janet meet
        a houseful of wild characters, including a rocking biker and a creepy butler.
        Through elaborate dances and rock songs, Frank-N-Furter unveils his latest
        creation: a muscular man named ''Rocky''.","popularity":27.622,"poster_path":"/3pyE6ZqDbuJi7zrNzzQzcKTWdmN.jpg","production_companies":[{"id":463,"logo_path":null,"name":"Michael
        White Productions","origin_country":"GB"},{"id":25,"logo_path":"/qZCc1lty5FzX30aOCVRBLzaVmcp.png","name":"20th
        Century Fox","origin_country":"US"}],"production_countries":[{"iso_3166_1":"GB","name":"United
        Kingdom"},{"iso_3166_1":"US","name":"United States of America"}],"release_date":"1975-08-14","revenue":112892319,"runtime":99,"spoken_languages":[{"english_name":"English","iso_639_1":"en","name":"English"}],"status":"Released","tagline":"A
        different set of jaws.","title":"The Rocky Horror Picture Show","video":false,"vote_average":7.477,"vote_count":2588,"release_dates":{"results":[{"iso_3166_1":"GB","release_dates":[{"certification":"15","descriptors":[],"iso_639_1":"","note":"","release_date":"1975-08-14T00:00:00.000Z","type":3}]},{"iso_3166_1":"NL","release_dates":[{"certification":"12","descriptors":[],"iso_639_1":"","note":"Blu
        ray","release_date":"2010-10-27T00:00:00.000Z","type":3},{"certification":"12","descriptors":[],"iso_639_1":"","note":"DVD","release_date":"2007-03-01T00:00:00.000Z","type":5},{"certification":"12","descriptors":[],"iso_639_1":"","note":"Net
        5","release_date":"2002-05-25T00:00:00.000Z","type":6}]},{"iso_3166_1":"US","release_dates":[{"certification":"R","descriptors":[],"iso[...]
